{% block body %}
    <label for="{{ fieldName }}">{{ fieldName }}</label>
    <div class="integer">
        <input type="number" id="{{ fieldName }}_int" class="price" >
        <input type="text" id="{{ fieldName }}_str" class="price" >
    </div>
{% endblock %}